<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Named Entity Finder</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <h1 data-test-id="heading">Named Entity Finder</h1>
    <div class="row my-3">
        <div id="labeled-doc" data-test-id="labeled-doc">
        </div>
      </div>
    <input id="input-text" data-test-id="input-text" class="form-control">
    <button class="btn btn-outline-primary" type="button" id="find-button" data-test-id="find-button">
        Find Named Entities
    </button>
    <table id="ner-table" data-test-id="ner-table" class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Entity</th>
                <th>Type</th>
            </tr>
        </thead>

    </table>
</body>
<script src="static/ner.js"></script>
</html>